@font-face {
    font-family: 'beastformregular';
    src: url('fonts/beastform.eot');
    src: url('fonts/beastform.eot?#iefix') format('embedded-opentype'),
         url('fonts/beastform.woff') format('woff'),
         url('fonts/beastform.svg#beastformregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackswordregular';
    src: url('fonts/blacksword.eot');
    src: url('fonts/blacksword.eot?#iefix') format('embedded-opentype'),
         url('fonts/blacksword.woff') format('woff'),
         url('fonts/blacksword.svg#blackswordregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'streamsterregular';
    src: url('fonts/streamster.eot');
    src: url('fonts/streamster.eot?#iefix') format('embedded-opentype'),
         url('fonts/streamster.woff') format('woff'),
         url('fonts/streamster.svg#streamsterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.logo {
    height: 150px;
    width: 150px;
    padding: 20px;
}

.flex-box {
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr;
}

/******NAV******/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    color: white;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
}
  
.sidenav .link:hover {
    text-decoration: line-through;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobile-social {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mobile-social img {
    width: 30px;
    padding: 10px;
}

.mobile-social img:hover {
    opacity: 0.6;
}

.side{
    height: 100vh;
    width: 200px;
    float: left;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.side img {
    align-self: center;
}

.side img:hover {
    cursor: pointer;
}

.main-nav {
    list-style: none;
    font-size: 2em;
    margin: 0;
    height: 100vh;
}

.main-nav > li {
    padding: 15px 45px 15px 0px;
    text-align: center;
}

.main-nav > li:hover {
    text-decoration: line-through;
    cursor: pointer;
    border-right: 5px solid white;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

hr {
    width: 75%;
    margin-top: -10px;
    align-self: center;
}

.contact {
    width: 200px;
    text-align: center;
    margin-bottom: 13vh;
}

.contact img {
    width: 70px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    padding: 5px;
}
.contact img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.8;
}

.social {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: -10vh;
}

.social img {
    width: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.social img:hover {
    opacity: 0.6;
}

#li-1 {
    animation-duration: 1s;
    animation-delay: 0s;
}

#li-2 {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

#li-3 {
    animation-duration: 1s;
    animation-delay: 1s;
}

#li-4 {
    animation-duration: 1s;
    animation-delay: 1.5s;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 0px;
    z-index: 9;
}

.mobile-contact {
    margin-left: 25px;
    visibility: hidden;
}

.top img {
    width: 40px;
    align-self: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    padding: 15px 5px;
}

.top img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.8;
}

.hamburger {
    visibility: hidden;
}

/******HEADER******/

header {
    height: 50vh;
    background-image: url("img/coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

header h1 {
    font-family: 'blackswordregular';
    color: white;
    font-size: 8em;
    font-weight: 100;
    text-align: center;
}

#heading {
    animation-duration: 1.5s;
}

header h2 {
    font-family: 'Space Mono', monospace;
    font-weight: 200;
    color: white;
    font-size: 4em;
    position: absolute;
    top: 30vh;
  }

/******ARTICLE******/

.article {
    text-align: center;
}

.grid-services {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.service {
    padding: 10px;
    width: 300px;
    margin: 15px 10px 50px 10px;
}

#grid2 {
    animation-delay: 0.2s;
}

#grid3 {
    animation-delay: 0.4s;
}

/******WORK******/

.work {
    text-align: center;
    width: 100%;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 5px;
}

.pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.pic {
    position: relative;
}

.centered {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.pic:hover img {
    opacity: 0.2;
    cursor: pointer;
}

.pic:hover .centered {
    opacity: 1;
    cursor: pointer;
}

.text {
    font-family: 'streamsterregular';
    font-size: 3em;
    font-weight: 200;
    height: 100%;
    width: 100%;
}

.projects {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
}
  
.projects .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.projects .closebtn:hover {
    font-size: 45px;
    color: white;
    right: 22px;
}

.proj {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    visibility: hidden;
    text-align: center;
    margin-top: -25px;
}

.proj > img {
    width: 50%;
    min-width: 350px;
    height: auto;
    border: 5px solid coral;
    border-radius: 10px;
}

.proj .description {
    display: none;
    width: 70%;
    padding-top: 20px;
}

.proj button {
    background-color: orange;
    color: white;
    text-align: center;
    border: none;
    font-size: 140%;
    padding: 15px 30px;
    border-radius: 400px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 15px;
}

.proj button:hover {
    background-color: orangered;
}

.skills button {
    background-color: lightgray;
    color: coral;
    border: 5px solid coral;
    font-size: 120%;
    cursor: auto;
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    font-weight: bold;
}

.skills button:hover {
    background-color: lightgray;
}

.proj button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.proj .lessBtn {
    display: none;
}
  
.proj button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.proj button .less:after {
    content: '\00ab';
}

.proj button:hover span {
    padding-right: 15px;
    padding-left: 15px;
}
  
.proj button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 1920px) {
    .img-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .description {
        width: 90%;
    }
}

@media only screen and (max-width: 1280px) {
    .img-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .text {
        font-size: 2em;
    }
}

@media only screen and (max-width: 1080px) {
    header h1 {
        font-size: 5em;
    }
    header h2 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 640px) {
    .img-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .side {
        width: 0px;
        visibility: hidden;
    }

    .flex-box {
        margin-left: 0px;
    }

    .service {
        max-width: 300px;
    }

    header h1 {
        font-size: 3em;
    }
    header h2 {
        font-size: 2em;
    }

    .top {
        height: 50px;
        width: 100%;
        position: fixed; 
    }

    .hamburger {
        font-size: 2em;
        padding: 0px 15px 5px 15px;
        cursor: pointer;
        visibility: visible;
    }

    .mobile-contact {
        visibility: visible;
        cursor: pointer;
    }

    #li-1 {
        animation: none;
    }
    #li-2 {
        animation: none;
    }
    #li-3 {
        animation: none;
    }
    #li-4 {
        animation: none;
    }
    
    .proj button {
        font-size: 100%;
        padding: 10px 20px;
    }

    .skills button {
        font-size: 80%;
        border: 3px solid coral;
        padding: 7px 14px;
    }
    
    .moreBtn {
        display: none;
    }
}








.grey {
    color: white;
    background-color: grey;
}

.blue {
    color: white;
    background-color: lightskyblue;
}

.black {
    color: white;
    background-color: black;
}